@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logoFont: "Special Gothic Expanded One", sans-serif;
    --baseFont: "Montserrat", sans-serif;
    --primaryColor: #3F4F44;
    --secondaryColor:#2C3930;
    /* Accent Colors */
    --boldColor: #FFF0DC;
    --lightFontColor: #543A14;
    --borderColor:5px solid #A27B5C;
    --borderColorOnly: #A27B5C;
    --delete: #E07B39;
    --edit:#F0BB78;
    --borderRadius: 5px;
}

body{
    background-color: var(--primaryColor);
    margin: auto;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 0.875rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

form{
    max-width: 720px;
    background: var(--secondaryColor);
    padding: 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: var(--borderRadius);
} 

h1{
    font-family: var(--logoFont);
    color: var(--boldColor);
    letter-spacing: 5px;
    font-size: 40px;
}

h2{
    text-align: center;
    font-family: var(--baseFont);
    color: var(--boldColor);
    text-transform: uppercase;
    font-size: 25px;
}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div label{
    font-family: var(--baseFont);
    color: var(--boldColor);
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0;
    font-size: 20px;
}

div input{
    height: 2rem;
    border: none;
    border-radius: var(--borderRadius);
    padding: 5px;
    font-family: var(--baseFont);
}

div button{
    margin: 1em 12rem;
    padding: 5px;
    border-radius: var(--borderRadius);
    font-family: var(--baseFont);
    border: none;
    background-color: var(--delete);

}

div button:hover{
    background-color: white;
    transition: all 0.25s ease-in;
}
