*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: grid;
    grid-template-areas: 
    "sidebar main"
    ;
    grid-template-columns: 300px 1fr;
    gap: 10px;
}

aside{
    grid-area: sidebar;
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside ul{
    list-style-type: none;
}

main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 48em){

}