@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Nunito:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --titleFont:  "IBM Plex Serif", sans-serif;
    --backColor: #F5EEDD;
    /* --debtFont: "Cal Sans", sans-serif; */
    --nameFont: "Nunito", sans-serif;
    --mainBG: #94B4C1;
    --radius: 5px;
}

body{
    background-color: var(--backColor);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    padding: 1vh;
    text-align: center;
    background-color: var(--mainBG);
    height: 50vh;
    width: auto;
    border-radius: var(--radius);
    
}

h1{
    border-radius: var(--radius);
    background-color: #EFEEEA;
    font-family: var(--titleFont);
}

input[type="text"], input[type="number"]{
    text-align: center;
    padding: auto;
    margin: 10px 0;
    border-radius: var(--radius);
    font-size: 20px;
    font-family: var(--nameFont);
    border: none;
}

form > #buttons > button{
    border: none;
    padding: 1px 15px;
    border-radius: var(--radius);
    font-size: 18px;
    font-family: var(--nameFont);
    border: none;
}

button:hover{
    border: none;
    background-color: white;
}

#nakautangs {
    text-align: center;
    background-color: var(--backColor);
    border: 1px solid black;
    border-radius: var(--radius);
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    font-family: var(--nameFont);
    font-size: 18px;
}